@media screen and (max-width: 750px) {
  #app {
    padding: 0;
    margin: 0;
  }
  .signature {
    top: 10px;
  }
}

@media screen and (max-width: 700px) {
  td {
    background-color: #fff;
  }
  .container {
    flex-direction: column;
  }
  .sidebar, .content {
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    max-width: 700px;
    max-width: 700px;
    width: 100%;
  }
  .sidebar {
    background: none;
    background-color: #fff;
    color: var(--nord0);
  }
  .content {}
  .sidebar__header {
    padding-bottom: 20px;
  }
  .sidebar__section:nth-last-child(-n+2) {
    display: none;
  }
  .sidebar__section, .content__section {
    margin-bottom: 20px;
  }
  .sidebar-section__contact-link {
    display: inline;
    padding: 10px;
  }
  .sidebar__section>table {
    width: 75%;
  }
  .content__section-signature {
    display: none;
  }
  .content__header {
    display: none;
  }
  .content__bar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .content-bar__download {
    float: right;
  }
  .content-bar__language {
    float: left;
  }
}

@media screen and (max-width: 330px) {
  .sidebar__section>table {
    width: 100%;
  }
  .icon-print {
    display: none;
  }
}

/* @media all { */

@media print {
  body {
    font-size: 0.9em;
  }
  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 1em;
  }
  h2, h3, h4 {
    font-size: 0.95em;
  }
  td {
    background-color: #fff;
  }
  #app {
    margin: 0;
    padding: 0;
  }
  .container {
    flex-direction: column;
    box-shadow: none;
    width: 85%;
    margin: 0 auto;
  }
  .content {
    order: 1;
  }
  .sidebar {
    order: -1;
    background: none;
    background-color: #fff;
    color: var(--nord0);
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .sidebar:nth-last-child(-n+2) {
    padding-top: 40px;
  }
  .sidebar, .content {
    padding: 15px;
    max-width: none;
    width: 100%;
    padding-bottom: 0;
  }
  .sidebar__section {
    margin-bottom: 18px;
    width: 50%;
  }
  .content__section {
    margin-bottom: 18px;
  }
  .content__section {
    margin-bottom: 18px;
  }
  .content-section__title {
    left: 0;
  }
  .sidebar__header {
    order: 1;
    margin: 0;
    padding: 0;
    margin-left: 100px;
  }
  .content-header__name {
    display: inline;
  }
  .content-header__subtitle {
    font-size: 0.9em;
  }
  .content-header__subtitle::before {
    content: '-';
    margin-right: 10px;
    margin-left: 10px;
  }
  .content .content__section:nth-child(5n+5) {
    /* 2 PAGE */
    margin-bottom: 100px;
  }
  .sidebar__header-foto {
    border-radius: 0;
    height: 100%;
    box-sizing: border-box;
    transform: scale(-1, 1);
  }
  .sidebar__section {
    order: -1;
    margin-bottom: 10px;
  }
  .section-item__body-project {
    margin: 0;
  }
  .section-item__body {
    margin-top: 12px;
  }
  .section-item__dates {
    border-left: 1px solid var(--nord0);
  }
  /* display none */
  table tr:nth-child(-n+1) {
    display: none;
  }
  .sidebar-section__title {
    display: none;
  }
  .content .content__section:nth-child(-n+3) {
    display: none;
  }
  .icon {
    display: none;
  }
  .content__section {
    padding-left: 0;
  }
  .sidebar__section:nth-last-child(-n+2) {
    display: none;
  }
  .content__section-signature {
    display: none;
  }
  .content__header {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    height: auto;
    padding-top: 10px;
  }
  .content__bar {
    display: none;
  }
  .section-item__dates-start::after {
    content: '─────';
  }
  .section-item__dates-end {
    width: 60px;
  }
  .footer {
    display: none;
  }
}